@import "./theme.sass"

.column.landing
  display: flex
  flex-flow: column
  justify-content: center

.column.landing
  nav
    top: 0
    position: relative
    font-size: 24px
    width: 80%
    margin-left: auto
    margin-right: auto
    top: 20%
  .navbar-item:first-child
    @include from ($desktop)
      padding-left: 0

.column.second
  display: flex
  flex-flow: column
  align-items: center
  justify-content: center

.column.landing > h1, .column.landing > h2
  @include from($desktop)
    width: 80%
    margin-left: auto
    margin-right: auto

.navbar-start > a
  text-transform: uppercase

.circle
  width: 300px
  height: 300px
  @include from ($desktop)
    width: 453px
    height: 453px
  background-color: #d8d8d8
  border: solid 1px #979797
  border-radius: 100%
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  margin: 0 auto

.grid
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: 1fr 1fr 1fr 1fr
  grid-column-gap: 10px
  grid-row-gap: 15px
  height: 75%

.item
  img
    max-height: 100%
    height: 100%
    width: 100%

.big
  grid-column: auto / span 2
  grid-row: auto / span 2

.long
  grid-column: auto / span 3

.is-super
  font-size: 54px

.heading-container
  display: flex
  flex-flow: column
  align-items: flex-end