@import "~bulma/sass/utilities/initial-variables"

// Config vars
$kaldi-red: #FD461E
$kaldi-red-invert: #fff

$primary: #3978ad
$primary-invert: $kaldi-red-invert

$title-color: $primary
$title-size: 36px
  
$subtitle-size: 28px
$subtitle-color: $primary

@import "~bulma"

.column.landing
  display: flex
  flex-flow: column
  justify-content: center
  position: 

.column.landing > nav
  top: 0
  position: relative
  font-size: 24px
  width: 80%
  margin-left: auto
  margin-right: auto
  top: 20%
  .navbar-item:first-child
    @include from ($desktop)
      padding-left: 0

.column.landing > h1, .column.landing > h2
  @include from($desktop)
    width: 80%
    margin-left: auto
    margin-right: auto
  
.bg-primary
  background-color: $primary
  
.navbar-start > a
  text-transform: uppercase

.circle
  width: 300px
  height: 300px
  @include from ($desktop)
    width: 453px
    height: 453px
  background-color: #d8d8d8
  border: solid 1px #979797
  border-radius: 100%
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  margin: 0 auto

.uppercase
  text-transform: uppercase

.columns.is-fullheight
  height: 100vh

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important


